/* Copyright 2015-2017 Parity Technologies (UK) Ltd.
/* This file is part of Parity.
/*
/* Parity is free software: you can redistribute it and/or modify
/* it under the terms of the GNU General Public License as published by
/* the Free Software Foundation, either version 3 of the License, or
/* (at your option) any later version.
/*
/* Parity is distributed in the hope that it will be useful,
/* but WITHOUT ANY WARRANTY; without even the implied warranty of
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
/* GNU General Public License for more details.
/*
/* You should have received a copy of the GNU General Public License
/* along with Parity.  If not, see <http://www.gnu.org/licenses/>.
*/

.searchcontainer {
}

.searchButton {
  min-width: 50px !important;
}

.input {
  width: 500px !important;
  overflow: visible !important;

  & > div:last-child { position: absolute; top: 100%; }
}

.inputContainer {
  transition: width 0ms ease-in-out 0ms, height 0ms ease-in-out 0ms;
  white-space: nowrap;
  width: 500px;
  height: 100%;
  position: relative;
  top: -1px;
  vertical-align: middle;
  overflow: visible !important;
  margin-right: 0.25em;
}

.inputContainerShown {
  transition: width 450ms ease-in-out 0ms, height 0ms ease-in-out 400ms;
  width: 0;
  margin-right: 0 !important;
  overflow: hidden !important;
}
